<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title><%= title %></title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/vapir.css") %>">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
	<script src="<%= static_path(@conn, "/js/vapir.js") %>"></script>
  </head>
  <body>
	<div id="header">
		<a href="<%= page_path @conn, :index %>"><img src="http://i.imgur.com/M1scBWR.png"></a> Vapir
		<input placeholder="http://127.0.0.1:4000/js/apidoc.json" id="api_doc" name="api_doc" type="text">
		<input placeholder="Username" id="api_username" name="api_username" type="text">
		<input placeholder="Password" id="api_password" name="api_password" type="text">
	</div>
	<div id="messages">
	</div>
    <%= @inner %>
    <div id="footer">
		This is the footer
	</div>
  </body>
</html>
